DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^sitemap\.xml$ sitemap.xml [L]

    RewriteRule ^index\.html$ / [R=301,L]
    RewriteRule ^about-us/?$ /about/ [R=301,L]
    RewriteRule ^about\.html$ /about/ [R=301,L]
    RewriteRule ^(.+)/index\.html$ /$1/ [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/$1/index.html -f
    RewriteRule ^(.+?)/?$ $1/index.html [L]
</IfModule>
